.btn{
  display: inline-block;
  font-size: 18px;
  border: 0.1em solid #649;
  padding: 0.8em 1.8em;
  background-color: #649;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2.5em;
  box-shadow: 0 0.2em 0.4em #5e5d5d;
  transition: all 0.3s;
}

.btn:hover{
  background-color: #fff;
  color: #649;
  box-shadow: 0 0.2em 1em #474646;
}

.btn-white{
  margin-left: 20px;
  color: #649;
  background-color: #fff;
}

.btn-white:hover{
  background-color: #649;
  color: #fff;
}