*{
  box-sizing: border-box;
}
.container{
  display: inline-block;
  width: 1000px;
  margin: 0 calc((100% - 1000px) / 2);
  margin-top: 60px;
}

a{
  text-decoration: none;
}

/*----- Headeris -------*/

.logo{
  float: left;
  width: 59px;
}
.meniu{
  float: right;
}

.meniu a{
  font-size: 24px;
  margin-left: 20px;
  color: black;
}
.meniu a:first-child{
  margin-left: 0;
}

.meniu a:hover{
  background-color: lightgoldenrodyellow;
  color: #649;
  text-decoration: underline;
  font-weight: bold;
}

/* -----Main --------- */
.left{
  float: left;
  width: 40%;
  margin-top: 30px;
}
.title{
  margin-top: 0;
  font-size: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.title span{
  display: block;
  width: 100%;
  font-weight: 100;
}
.title::after{
  content: '';
  width: 120px;
  height: 3px;
  background-color: #649;
  display: block;
  margin-top: 15px;
}
.description{
  font-size: 20px;
  line-height: 1.4;
  color: #868787;
  margin-bottom: 40px;
}
.right{
  float: right;
  width: 55%;
}

/* -----Footer--------- */
.social{
  float: left;
}
.social a{
  font-size: 24px;
  color: #cbcccc;
}
.social a:not(:first-child){
  margin-left: 20px;
}
.social a:hover{
  color: #649;
}
.copyright{
  margin-top: 0;
  float: right;
  font-size: 18px;
}